<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sqlite admin</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>

    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</head>

<body>
    {%if data.selected_base != None%}
    <form action="/execute_request" method="POST">
        <div class="head-input">
            <div>
                <h3>{{data.selected_base}}</h3>
            </div>
            <div class="btn-close"><button class="btn" name="enabled" value="no">close</button></div>
        </div>
        <textarea id="story" class="ta-input" name="request" name="story" rows="5" cols="172">
            {%if data.command != None%}
            {{data.command}}
            {%endif%}
        </textarea>
        <button type="submit" name="enabled" value="{{data.selected_base}}" class="btn btn-submit">submit</button>
    </form>
    {%endif%}
    <!-- / Begin Body -->
    <div class='swanky'>
        <!-- / Introduction Block -->
        <form action="/index" class='swanky_title' method="POST">

            <h1>SqliteAdmin</h1>
            <p>Click on the button to add a new database. If the base exists, select it from the list.</p>
            <form method="POST">
                <input type="text" class="input-base" name="baseName" id="baseName" placeholder="base name">
                <button type="submit" name="btnAddBase" id="btnAddBase" class="spin thick" value="create_base">Create
                    base</button>
            </form>
        </form>
        <div class="base-name-form">
            <div class="list-group base-list">
                {%for base in data.bases%}
                <div class="wrapper1" id="wrapper1">
                    <button type="submit" id = "delete" class="btn btn-dark btn-del" onclick="ds('delete','{{base.name}}', '');">-</button>
                    <button type="submit" class="btn btn-dark"
                        onclick="ds('wrapper1','{{base.name}}', '');">{{base.name}}</button>
                </div>
                <div class="list-group tables-list">
                    {%for table in base.tables %}
                    <div id="wrapper2">
                        <button type="submit" class="btn"
                            onclick="ds('wrapper2', '{{base.name}}','{{table}}');">{{table}}</button>
                    </div>
                    {%endfor%}
                </div>
                {%endfor%}
            </div>
        </div>
    </div>
    <div class="output">
        {%if data.selected_table != None%}
        <h5>{{data.selected_table}}</h5>
        {%endif%}
        {%if data.table != None%}
        <table class="table table-striped table-bordered table-hover table-condensed">
            <tr>
                {%if data.table.head != []%}
                <th>№</th>
                {%endif%}
                {%for col in data.table.head %}
                <th>{{col[1]}}</th>
                {%endfor%}
            </tr>
            {%for row in data.table.body%}
            <tr>
                <td>{{loop.index}}</td>
                {%for item in row%}
                <td>{{item}}</td>
                {%endfor%}
            </tr>
            {%endfor%}
        </table>
        {%endif%}
        {%if data.output != None%}
        <p>{{data.output}}</p>
        {%endif%}
    </div>
</body>

</html>